<label
  class="w-full min-w-[270px] max-w-[490px] h-12 px-4 flex flex-row items-center gap-3 bg-tertiary_bg rounded-full text-secondary_text border border-transparent hover:bg-secondary_text/25 hover:border-secondary_text/30 transition-colors"
>
  <button class="hover:text-primary_text transition-colors">
    <fa-icon
      [icon]="faSearch"
      class="w-5 h-5 hover:text-primary_text transition-colors"
    ></fa-icon>
  </button>
  <input
    id="search-input"
    class="w-full bg-transparent outline-none placeholder:font-medium overflow-hidden overflow-ellipsis text-nowrap"
    type="search"
    placeholder="O que você quer ouvir?"
    maxLength="{800}"
    onChange="{handleChange}"
  />
  <div class="w-[1px] h-6 bg-secondary_text/50"></div>
  <a
    href="/search"
    class="cursor-pointer hover:text-primary_text hover:scale-105 transition-all"
  >
    <fa-icon [icon]="faShip" class="w-5 h-5"></fa-icon>
  </a>
</label>
